* {
  margin: 0;
  padding: 0;
  font-family: "Delius Swash Caps", cursive;
}

html {
  height: 100%;
}
body {
  position: relative;
  height: 100%;
  margin: 0;
  background-color: rgba(255, 166, 0, 0.25);
}
body:before,
body:after {
  position: absolute;
  content: "";
  top: 0px;
  height: 100%;
  width: 33.33%;
}
body:before {
  left: 0px;
  background: rgba(255, 0, 0, 0.25);
}

body:after {
  right: 0px;
  background-color: rgba(255, 0, 0, 0.25);
}

h1 {
  margin-bottom: 20%;
  text-align: center;
}

.btn {
  justify-content: center;
  background-color: rgb(56, 13, 56);
  border-style: none;
}

.rounded {
  margin-top: 8%;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  -ms-animation: fadeIn 4s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Log In Page */

.form-label {
  justify-content: right;
}


/*GALLERY*/
.baby-cucumber,
.baby-parents,
.third-row
{
  margin-top: 20%;
  
}

.first-row {
  margin-top: 45%;
}

